<?xml version="1.0"?>
<!-- Top-level file for generating the swerve drive robot -->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="swerve_robot_base">
    <!-- MACRO FILES, ALLOW FOR GENERATION OF THE VARIOUS PARTS-->

    <!-- Import chassis and dummy base link-->
    <xacro:include filename="$(find swerve_robot_description)/urdf/include/robot_parts/chassis.xacro" />

    <!-- Import steering links and joints -->
    <xacro:include filename="$(find swerve_robot_description)/urdf/include/robot_parts/steering.xacro" />

    <!-- Import wheel links and joints -->
    <xacro:include filename="$(find swerve_robot_description)/urdf/include/robot_parts/wheel.xacro" />

    <!-- Import sensors -->
    <xacro:include filename="$(find swerve_robot_description)/urdf/include/sensors/imu.urdf.xacro" />
    <xacro:include filename="$(find swerve_robot_description)/urdf/include/sensors/generic_laser.urdf.xacro" />
    <xacro:include filename="$(find swerve_robot_description)/urdf/include/sensors/depth_sensor.urdf.xacro" />

    <!-- GENERATION, GENERATES THE ROBOT FROM MACROS -->

    <!-- Main chassis + dummy base link -->
    <xacro:base name="base_link" />
    <xacro:chassis name="chassis_link" parent="base_link" />

    <!-- Steering Links + Joints -->
    <xacro:steering locationprefix="front_right" locx="0.18" locy="-0.18" />
    <xacro:steering locationprefix="front_left" locx="0.18" locy="0.18" />
    <xacro:steering locationprefix="rear_left" locx="-0.18" locy="0.18" />
    <xacro:steering locationprefix="rear_right" locx="-0.18" locy="-0.18" />

    <!-- Wheel Links + Joints -->
    <xacro:wheel locationprefix="front_right" />
    <xacro:wheel locationprefix="front_left" />
    <xacro:wheel locationprefix="rear_left" />
    <xacro:wheel locationprefix="rear_right" />


    <!-- Sensors -->
    <xacro:property name="laser_pose">
      <origin xyz="-0.0475 0 0.425" rpy="0 0 0"/>
    </xacro:property>

    <xacro:property name="depth_sensor_pose">
      <origin xyz="-0.065 0 0.455" rpy="0 0 0"/>
    </xacro:property>

    <xacro:imu/>
    
    <xacro:generic_laser>
      <xacro:insert_block name="laser_pose" />
    </xacro:generic_laser>
    
    <xacro:depth_sensor>
      <xacro:insert_block name="depth_sensor_pose" />
    </xacro:depth_sensor>

  </xacro:macro>

</robot>
